body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b8fcc1;
}
h2{
    font-size: 20px;
}
.topo {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
}

.lista {
    list-style-type: symbols();
    padding: 0;
}

.lista li {
    margin: 10px 0;
    padding: 10px;
    background-color: #5bc572;
    border: 1px solid #ffffff;
    border-radius: 8px;
    color: #3b3b3b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lista li:hover {
    background-color: #034211;
    color: rgb(255, 255, 255);

}
img{
    display: flex; /* Alterado para block */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

/* Classe para mostrar elementos */
.visible {
    display: block;  /* Faz o elemento ficar visível */
}

/* Adicionando um estilo básico para as seções */
#calculadora, #buscarEnergia {
    margin-top: 20px;
}

button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

input {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
}